{
  "js/**/*.js": ["eslint --fix --config eslint.config.js", "prettier --write"],
  "tests/**/*.js": ["eslint --fix --config eslint.config.js", "prettier --write"],
  "*.{html,css,md,json}": ["prettier --write"]
}
